<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee</title>
    <link   rel="stylesheet/"
            href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXweOngsV72t27NXFoaoApmYm81iuXoPkFOJwJ8ERdknlLPMO"
            crossorigin="anonymous">
</head>
<body>
    
<div class="container my-2" align="center">
    
    
    <h3>Employee List</h3>
    <a th:href="@{/add}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
    <table style="width: 80%" border="1"
                class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Designation</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="employee:${allemplist}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.age}"></td>
            <td th:text="${employee.designation}"></td>
            <td><a href="@{/updateform/{id}(id=${employee.id})}" class="btn btn-primary">Update</a></td>
            <td><a href="@{/delete/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>